*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
}
body {
  background-image: url('img/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

 div {
  width: 100%;
  height: 100%;
  padding: 0 25%;
}

section {
  width: 25%;
  height: 250px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: auto;

}

div + a img {
  position: fixed;
  right: 25px;
  top: 48%;
  width: 20%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 100px;
  background-image: linear-gradient(to right, blue , red );
}

aside img {
  position: fixed;
  left: 25px;
  top: 28%;
  width: 20%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 100px;
  background-image: linear-gradient(to right, blue , red );
}

#magic {
  top: 60%;
}

button {
  display: none;
}
.card0, .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10,
.card11, .card12, .card13, .card14, .card15, .card16, .card17, .card18, .card19, .card20,
.card21, .card22, .card23, .card24, .card25, .card26, .card27, .card28, .card29, .card30,
.card31, .card32, .card33, .card34, .card35, .card36, .card37, .card38, .card39, .card40, .flip {
background-size: contain;
background-repeat: no-repeat;
transform-style: preserve-3d;
  transition: all .4s linear;
}
.card0 {
  background-image: url('img/card0.png');
}

.card1 {
  background-image: url('img/card1.png');
}

.card2 {
  background-image: url('img/card2.png');
}

.card3 {
  background-image: url('img/card3.png');
}

.card4 {
  background-image: url('img/card4.png');
}

.card5 {
  background-image: url('img/card5.png');
}

.card6 {
  background-image: url('img/card6.png');
}

.card7 {
  background-image: url('img/card7.png');
}

.card8 {
  background-image: url('img/card8.png');
}

.card9 {
  background-image: url('img/card9.png');

}

.card10 {
  background-image: url('img/card10.png');
}

.card11 {
  background-image: url('img/card11.png');
}

.card12 {
  background-image: url('img/card12.png');
}

.card13 {
  background-image: url('img/card13.png');
}

.card14 {
  background-image: url('img/card14.png');
}

.card15 {
  background-image: url('img/card15.png');
}

.card16 {
  background-image: url('img/card16.png');
}

.card17 {
  background-image: url('img/card17.png');
}

.card18 {
  background-image: url('img/card18.png');
}

.card19 {
  background-image: url('img/card19.png');
}

.card20 {
  background-image: url('img/card20.png');
}

.card21 {
  background-image: url('img/card21.png');
}

.card22 {
  background-image: url('img/card22.png');
}

.card23 {
  background-image: url('img/card23.png');
}

.card24 {
  background-image: url('img/card24.png');
}

.card25 {
  background-image: url('img/card25.png');
}

.card26 {
  background-image: url('img/card26.png');
}

.card27 {
  background-image: url('img/card27.png');
}

.card28 {
  background-image: url('img/card28.png');
}

.card29 {
  background-image: url('img/card29.png');
}

.card30 {
  background-image: url('img/card30.png');
}

.card31 {
  background-image: url('img/card31.png');
}

.card32 {
  background-image: url('img/card32.png');
}

.card33 {
  background-image: url('img/card33.png');
}

.card34 {
  background-image: url('img/card34.png');
}

.card35 {
  background-image: url('img/card35.png');
}

.card36 {
  background-image: url('img/card36.png');
}

.card37 {
  background-image: url('img/card37.png');
}

.card38 {
  background-image: url('img/card38.png');
}

.flip{
  transform: rotateY(180deg);
 background-image: url('img/back.jpeg');
}  

 h2 {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
font-family: 'Playfair Display', serif;
    position: relative;
	text-transform: uppercase;
	font-size: 15rem;
	margin: 0;
	font-weight: 400;
}

h2:after {
    background: none;
    content: attr(data-heading);
    left: 0;
	top: 0;
    z-index: -1;
    position: absolute;
    text-shadow:
		-1px 0 1px #c6bb9f,
		0 1px 1px #c6bb9f,
		5px 5px 10px rgba(0, 0, 0, 0.4),
		-5px -5px 10px rgba(0, 0, 0, 0.4);
}


@media screen and (max-width: 1000px){
	section{
		width: 16.66vw;
		height: 25vh;
	}
}

@media screen and (max-width: 500px){
	section{
		width: 25vw;
		height: 16.5vh;
	}
} 